@import "variables.scss";
.gecko-section {
	position: relative;
	padding: 1rem;
	border: dashed 1px pink;
	&.is-size-lg & {
		&__inner { max-width: 71.5rem;}
	}
	&.is-size-md & {
		&__inner { max-width: 61.5rem;}
	}
	&.is-size-sm & {
		&__inner { max-width: 51.5rem;}
	}
	&__inner {
		padding: 1rem;
		border: dashed 1px pink;
		max-width: 100%;
		margin: 0px auto;
	}
}